{%extends 'base.html'%}

{%block title%}
Book | Library
{%endblock%}

{%block name%}
<b>Book | Library</b>
{%endblock%}


{%block content%}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Book Title: {{book.title}}</h2>
                    {%if book.genre.all|length > 1%}
                    <p><b>Genres:</b>
                    {%else%}
                    <p><b>Genre:</b>
                    {%endif%}
                    {%for genre in book.genre.all%}
                    <a href="{%url 'genre_view' name=genre.name%}">{{genre}}</a>
                    {%endfor%}
                    </p>
                    <p>
                        {%if book.authors.all|length > 1%}
                        <b>Authors:</b>
                        {%else%}
                        <b>Author:</b>
                        {%endif%}
                        {%for author in book.authors.all%}
                            <a href="{%url 'author_view' name=author.name%}">{{author}}</a>
                        {%endfor%}
                    </p>
                    <p><b>ISBN:</b> {{book.isbn}}</p>

                    <p class="card-text"><b>Summary:<br></b> {{book.summary}}</p>
                    <p><b>Publisher:</b> {{book.publisher}}</p>
                    <p><b>Is available:</b>
                    {%if book.available%}
                        <b style="color: green">YES</b>
                    {%else%}
                        <b style="color: red">NO</b>
                    {%endif%}
                    </p>
                    <div class="card-subtitle text-muted mb-3">
                        <small>Published Date: {{book.published_date}}</small>
                    </div>
                    <a class="btn btn-outline-dark" href="{%url 'create_borrow_request_view' isbn=book.isbn%}">Borrow Request</a>
                    {%if borrow_request and borrow_request.status == 2 and borrow_request.book.available%}
                    <a class="btn btn-outline-primary" href="{%url 'take_book_view' id=borrow_request.id%}">Take Book</a>
                    {%endif%}
                    <p>
                    {%if request.user.is_librarian or request.user.is_staff%}
                        <a style="margin-top: 9px" class="btn btn-outline-dark" href="{%url 'update_book_view' isbn=book.isbn%}">Update</a>
                        <a style="margin-top: 9px" class="btn btn-outline-dark" href="{%url 'delete_book_view' isbn=book.isbn%}">Delete</a>
                    {%endif%}
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}