{%extends 'base.html'%}

{%block title%}
Update | Library
{%endblock%}

{%block name%}
<b>Update | Library</b>
{%endblock%}


{%block content%}
<body style="background-color: #f8f9fa;">

<div class="container" style="margin-top: 5rem; border: 1px solid #ddd; padding: 20px; border-radius: 10px; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);">
    <form id="add_form" method="POST">
        {% csrf_token %}
        <div class="h3 mb-3 fw-normal text-nowrap">
            Create Book
        </div>
        {{form}}
        <button form="add_form" type="submit" class="btn btn-outline-secondary mt-4">Update</button>
    </form>
    <a class="btn btn-outline-primary" href="{%url 'main_view'%}">Back</a>
</div>

</body>

{%endblock%}